pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.nrepl-history
*~
.cabal-sandbox/
cabal.sandbox.config
dist/
TAGS